extends base
include mixin
block vars 
 - var siteTitle = "My Site"

block content
  include header
  h1 Pug - node template engine
  .blok. 
    HJJHLSDLB SJNDBLDSBV
  p This is a paragraph with some text in
  +svg("icon-10")