// body {
//   font-family: sans-serif;
//   font-size: 120%;
// }

// main {
//   width: 700px;
//   margin: 30px auto;
// }

// img {
//   display: block;
//   margin: auto;
//   width: 100%;
//   max-width: 100%;
//   height: auto;
//   border-radius: 1px solid #eaeaea;
//   @for $i from 1 to 10 {
//     &.w#{$i} {
//       width: 10% * $i;
//     }
//   }
// }

@mixin fancy {
  color: red;
  text-shadow: 0 0 15px blue;
}

h1 {
  @include fancy;
}

@mixin avatar($size, $borderRadius: 0, $isInvert: false) {
  width: $size;
  height: $size;

  @if ($isInvert) {
    filter: invert(1);
  }

  @if ($borderRadius) {
    border-radius: $borderRadius;
  }

  @content;
}

.avatar {
  @include avatar(100px, $isInvert: true) {
    margin: 70px;
  }
}
